project:
  type: website

render:
    - "*.qmd"
    - "*.md"
    - "!etc/"

website:
  title: "Sara Kingsley"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



